@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
.container
{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.hex-colors 
{
    border: 1px solid black;
    text-align: center;
}
.hex-colors h1
{
    font: 16px;
    text-transform: uppercase;/* căn đều vb 2 bên */
    animation: Colorschange 5s infinite alternate;
}
.hex-colors h2
{
    border: 1px solid black;/*create block to Gian~ doan bỏ h2 vào obj block*/
    font-size: 16px;
    margin-top: 3%;;
}
@keyframes Colorschange
{
    0%{
        color: blanchedalmond;
    }
    20%{
        color: rgb(233, 92, 10);
    }
    40%{
        color: rgb(31, 30, 133);
    }
    60%{
        color: rgb(40, 151, 155);
    }
    80%{
        color: rgb(168, 44, 86);
    }
    100%{
        color: rgb(201, 238, 37);
    }
}
@media(max-width:320px)
{
    .hex-colors h1
    {
        font-size: 10px;
    }
    .hex-colors h2
    {
        font-size: 8px;
    }
}
@media(max-width: 480px)
{
    .hex-colors 
    {
        font-size: 10px;
    }
    
}